// Colors
$colorBlack: #000;
$colorWhite: #fff;
$colorRed: #e30613;

$colorBackground: #fefefe;
$colorFooterBackground: #e6e6e6;

// Breakpoint list
$breakepoint-desktop: '1024px';
$breakepoint-tablet: '728px';
$breakepoint-mobile: '400px';

//font family
$font-main: 'Corbel';