@import "common/variables";
@import "common/mixins";

html, body{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
.slider{
  margin: 0 47px 56px 20px;
  position: relative;
  > .slider-item {
    display: none;
  }
  &-outer{
    margin: 0 20px;
    overflow: hidden;
    padding: 0 10px;
  }
  &-wrapper{
    transition: all .4s;
    &:after{
      content: '';
      display: table;
      clear: both;
    }
  }
  &-item{
    //width: 269px;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
    .header{
      position: relative;
      @include response($breakepoint-tablet) {
        height: 132px;
        overflow: hidden;
        margin-bottom: 8px;
      }
      img{
        width: 100%;
        display: block
      }
      p{
        position: absolute;
        bottom: -14px;
        left: 0;
        width: 180px;
        @include response($breakepoint-tablet) {
          width: 80px;
          bottom: 7px;
        }
        span{
          background-color: $colorRed;
          color: $colorWhite;
          font-style: italic;
          font-size: 25px;
          line-height: 33px;
          box-shadow: 18px 0 0 0 $colorRed, -10px 0 0 0 $colorRed;
        }
      }
    }
  }
}

.next, .prev{
  background: transparent;
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  padding: 0;
  cursor: pointer;
}
.next{
  border-top: 17px solid transparent;
  border-left: 11px solid $colorRed;
  border-bottom: 17px solid transparent;
  right: 0;
}
.prev{
  border-top: 17px solid transparent;
  border-right: 11px solid $colorRed;
  border-bottom: 17px solid transparent;
  left: 0;
}